DEALERS_EMAIL=wasleymuller1997@gmail.com
DEALERS_PASSWORD=Resende!s3
DEALERS_WHITELABEL_ID=8
DEALERS_SHOP_ID=112748
DEALERS_USER_ID=212697
DEALERS_API_URL=https://prod-backend.dealersclub.com.br/api
DEALERS_ORIGIN=https://vendadireta.dealersclub.com.br
DEALERS_AUDITORIO_ORIGIN=https://vendadireta-auditorio.dealersclub.com.br
MARGIN_PERCENT=5
JWT_SECRET=dealers_platform_secret_2026
PORT=3001
